.list__img{
  width: 200px;
  margin-bottom: 20px;
}
.list__title{
text-align: left;
font-size: 1rem;
font-weight: bold;
}

.list__sentence{
  text-align: left;
  font-size: 0.75rem;
  font-weight:lighter;
  width: 180px;
  text-align: center;
  }

.wow{ 
  height: 90px;
  }